
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}
.loadingStyle{
    margin-top: 30%;
    height: 200px;
    margin-left: 90%;
}
@media (max-width: 600px){
    .cards{
        grid-template-columns: repeat(1, 1fr);
        text-align:center;
        margin-left: auto;
        margin-right: auto;
    }
    .loadingStyle{
        margin-top: 30%;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
    }
}